# API URL
NEXT_PUBLIC_API_BASE_URL=https://ruang-tenang.site/api/v1
NEXT_PUBLIC_APP_TIMEZONE=Asia/Jakarta
NEXT_PUBLIC_ALLOWED_IMAGE_HOSTS=ruang-tenang.site,localhost,127.0.0.1

# Duitku Pop
NEXT_PUBLIC_DUITKU_ENV=sandbox
